rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if request.auth != null && firestore.get(/databases/(default)/documents/_access/$(request.auth.uid)).data.approved == true;
      allow write: if request.auth != null && firestore.get(/databases/(default)/documents/_access/$(request.auth.uid)).data.approved == true && (firestore.get(/databases/(default)/documents/_access/$(request.auth.uid)).data.get('admin', false) == true || firestore.get(/databases/(default)/documents/_access/$(request.auth.uid)).data.get('support', false) == true);
    }
  }
}
